# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Production
dist/

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel / Render / Railway
.vercel
.render

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
venv/
.venv/
env/
.env/

# Prisma
prisma/migrations/dev.db

# Logs
logs/
*.log

# Tests
coverage/
.nyc_output/

# Turbo
.turbo/
